---
import MainLayout from "../../layouts/MainLayout.astro";
import { formatDate } from "../../utils";
import Tags from "../../components/Tags.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allBlogArticles = await getCollection("blog");

  return allBlogArticles.map((entry) => ({
    params: {
      slug: entry.slug,
    },
    props: {
      entry,
    },
  }));
}

const { entry } = Astro.props;

if (!entry) {
  return Astro.redirect("/404");
}

const { Content } = await entry.render();
---

<MainLayout>
  <section class="container mx-auto p-4">
    <a
      href="/articles"
      class="my-6 inline-block bg-gray-100 p-2 hover:bg-indigo-500 hover:text-white"
      >Back To Articles</a
    >
    <article>
      <h1 class="mb-2 text-4xl font-bold">{entry.data.title}</h1>
      <Image
        height={11300}
        width={1100}
        transition:name={`post-image-${entry.slug}`}
        src={entry.data.image}
        alt="Article Image"
        class="my-6 h-auto w-full rounded-xl"
      />
      <h3 transition:name={`post-title-${entry.slug}`} class="mb-4 text-lg">
        Written by {entry.data.author} on {formatDate(entry.data.pubDate)}
      </h3>
      <Tags tags={entry.data.tags} slug={entry.slug} />
      <div class="content mt-8">
        <Content />
      </div>
    </article>
  </section>
</MainLayout>

<!-- overrides for markdown content -->

<style is:global>
  p {
    margin: 20px 0;
  }

  h2 {
    margin: 20px 0;
    font-size: 1.8rem;
  }

  .content ul {
    list-style-type: disc; /* Use disc for bullet points */
    padding-left: 2em; /* Add some padding to offset the bullet points */
  }
  .content ul li {
    display: list-item;
  }
  .content ol {
    list-style-type: decimal; /* Use decimal for numbered lists */
    padding-left: 2em; /* Add some padding to offset the numbers */
  }
  .content ol li {
    display: list-item;
  }
</style>
