---
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import logo from "../images/dogs_n.jpg";
import test from "../images/test.png";
---

<MainLayout>
  <!-- Top Grid -->
  <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
    <div class="lg:pe-6">
      <h1 class="text-4xl font-bold mb-8 leading-tight xl:text-6xl">
        Pet Care Specialists
      </h1>
      <h2 class="text-2xl font-bold leading-tight xl:text2xl mb-6">
        Serving the Southern Highlands since 2019
      </h2>
      <div
        class="relative inline-block w-full sm:w-auto cursor-pointer rounded-2xl"
      >
        <p class="text-xl">
          Based in Hill Top, we service the Southern Highlands and Wollondilly
          areas. We provide high quality and affordable pet care services
          including in home pet care visits, doggy adventures, farm minding and
          more… Whether you need a stress free holiday, a well earned day off or
          just need help to ease your workload a bit. We are here to help you
          and your pets! Please note: We are not a boarding facility and do not
          offer this service.
        </p>
      </div>
    </div>
    <div class="mt-4">
      <Image src={logo} alt="logo" class="rounded-2xl" height={650} />
    </div>

    <!-- Main Grid -->
    <div
      class="relative inline-block w-full sm:w-auto cursor-pointer rounded-2xl mt-4"
    >
      <a href="">
        <Image
          height="300"
          width={600}
          src={test}
          alt="Article Image"
          class="w-full h-auto rounded-2xl"
        />

        <div
          class="absolute inset-0 flex flex-col items-center justify-center bg-black opacity-80 hover:opacity-75 transition duration-300 ease-in-out text-white text-center rounded-2xl"
        >
          <div>
            <h2 class="text-2xl font-semibold sm:text-3xl">Pet Sitting</h2>
            <p class="text-xl mt-4">We offer drop in house visits in the Southern Highlands and Wollondilly areas.</p>

            <!-- Tags with rounded border -->
            <div class="flex mt-4 justify-center"></div>
          </div>
        </div>
      </a>
    </div>
    <div
      class="relative inline-block w-full sm:w-auto cursor-pointer rounded-2xl mt-4"
    >
      <a href="">
        <Image
          height="300"
          width={600}
          src={test}
          alt="Article Image"
          class="w-full h-auto rounded-2xl"
        />

        <div
          class="absolute inset-0 flex flex-col items-center justify-center bg-black opacity-80 hover:opacity-75 transition duration-300 ease-in-out text-white text-center rounded-2xl"
        >
          <div>
            <h2 class="text-2xl font-semibold sm:text-3xl">Doggy Adventures & Exercise</h2>
            <p class="text-xl mt-4">Energize your dog's day and eliminate unwanted behaviors with our personalized Doggy Adventures and Exercise services in the Southern Highlands.</p>

            <!-- Tags with rounded border -->
            <div class="flex mt-4 justify-center"></div>
          </div>
        </div>
      </a>
    </div>
    <div
      class="relative inline-block w-full sm:w-auto cursor-pointer rounded-2xl mt-4"
    >
      <a href="">
        <Image
          height="250"
          width={600}
          src={test}
          alt="Article Image"
          class="w-full h-auto rounded-2xl"
        />

        <div
          class="absolute inset-0 flex flex-col items-center justify-center bg-black opacity-80 hover:opacity-75 transition duration-300 ease-in-out text-white text-center rounded-2xl"
        >
          <div>
            <h2 class="text-2xl font-semibold sm:text-3xl">Wedding Assistance</h2>
            <p class="text-xl mt-4">Wedding pet chaperone services for the Southern Highlands, Macarthur and Illawarra regions.</p>

            <!-- Tags with rounded border -->
            <div class="flex mt-4 justify-center"></div>
          </div>
        </div>
      </a>
    </div>
    <div
      class="relative inline-block w-full sm:w-auto cursor-pointer rounded-2xl mt-4"
    >
      <a href="">
        <Image
          height="300"
          width={600}
          src={test}
          alt="Article Image"
          class="w-full h-auto rounded-2xl"
        />

        <div
          class="absolute inset-0 flex flex-col items-center justify-center bg-black opacity-80 hover:opacity-75 transition duration-300 ease-in-out text-white text-center rounded-2xl"
        >
          <div>
            <h2 class="text-2xl font-semibold sm:text-3xl">Equine & Farm Care</h2>
            <p class="text-xl mt-4"></p> Our qualified team specializes in equine and farm animal care. Schedule a complimentary meet and greet to discuss your routine, ensuring a worry-free day off or holiday, with us handling your farm responsibilities.</p>

            <!-- Tags with rounded border -->
            <div class="flex mt-4 justify-center"></div>
          </div>
        </div>
      </a>
    </div>
    <div class="p-4 text-center">
      <a
        href="/articles/all"
        class="text-xl font-bold p-6 mb-8 leading-tight xl:text-3xl"
      >
        More
      </a>
    </div>
  </div>
</MainLayout>
